@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBE6DD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: absolute;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  text-align: left;
}

#author {
  text-align: right;
  font-size: 1.5rem;
  padding-right: 2rem;
}

button {
  background-color: #EBE6DD;
  color: #363636;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 2px solid #D2BF9C;
  padding: 0.5rem 0.7rem;
}

button:hover {
  cursor: pointer;
  background-color: #d2bf9c;
  border: 2px solid #d2bf9c;
  color: #f5f3f3;
}

img {
  width: auto;
  height: 1.5rem;
}

a:hover {
  cursor: pointer;
  background-color: #d2bf9c;
  border: 2px solid #d2bf9c;
  color: #f5f3f3;
}

#flex-box {
  display: flex;
  justify-content: left;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background: none;
  color: #363636;
  font-size: 1.1rem;
  border: 2px solid #D2BF9C;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

#flex-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  padding: 0 0.6rem;
}

@media (max-width: 575.98px) {
  .App {
    width: 80%;
    font-size: 2rem;
  }
}